<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <title>Ledger - Account List</title>

	{{template "common-css"}}

  </head>

  <body>
	
	{{template "nav" .}}

   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-md-10">
        		<h1>Account List</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-md-12">
	
      <table id="listtable" class="table table-bordered table-hover paginated-table">
        <thead>
          <tr>
            <th>Account</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          {{range .Accounts}}
          <tr>
            <td class="d-block d-sm-none">
              <a href="/account/{{.Name}}">{{qvshortname .Name}}</a>
              <div style="float:right"><a class="link-success" href="/addtrans/{{.Name}}">+</a></div>
            </td>
            <td class="d-none d-sm-block">
              <a href="/account/{{.Name}}">{{.Name}}</a>
              <div style="float:right"><a class="link-success" href="/addtrans/{{.Name}}">+</a></div>
            </td>
            <td align="right">{{.Balance.FloatString 2}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      </div>
      </div>
      </div>
   </div> <!-- /container -->


   {{template "common-scripts"}}
    </script>

  </body>
</html>
