<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <title>Ledger - Report - {{.ReportName}}</title>

	{{template "common-css"}}

  </head>

  <body>

      {{template "nav" .}}
	
   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-xs-12">
                <h1>{{.ReportName}} : {{.RangeStart.Format "2006-01-02"}} - {{.RangeEnd.Format "2006-01-02"}}</h1>
			</div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-xs-12">
     <table class="table table-bordered table-hover paginated-table">
        <thead>
          <tr>
            <th>Name</th>
            <th width="80%">Amount</th>
          </tr>
        </thead>
        <tbody>
            {{range $idx, $acc := .ChartAccounts}}
          <tr>
            <td>{{lastaccount $acc.Name}}</td>
            <td>
                <div class="progress">
					<div class="progress-bar{{if eq $idx 0}} bg-warning{{end}}{{if eq $idx 1}} bg-secondary{{end}}" role="progressbar" aria-valuenow="{{$acc.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.Percentage}}%;">
                    {{$acc.Balance.FloatString 0}} ({{$acc.Percentage}}%)
                    </div>
                  </div>
            </td>
          </tr>
            {{end}}
        </tbody>
     </table>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-12">
		  {{template "payee-transaction-table" .}}
      </div>
      </div>

      </div>
   </div> <!-- /container -->


   {{template "common-scripts"}}
  </body>
</html>
