<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ledger - Report - {{.ReportName}}</title>

	{{template "common-css"}}
  </head>

  <body>

      {{template "nav" .}}

   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-xs-12">
                <h1>{{.ReportName}} : {{.RangeStart.Format "2006-01-02"}} - {{.RangeEnd.Format "2006-01-02"}}</h1>
			</div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-xs-12">
          <div id="canvas-holder" style="width:100%">
               <canvas id="chart-area" width="300" height="300" />
          </div>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <div id="chart-legend"></div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-12">

{{template "payee-transaction-table" .}}

      </div>
      </div>

      </div>
   </div> <!-- /container -->


   {{template "common-scripts"}}
    <script>
    $(document).ready(function() {

	const totalSumLabel = {
		id: 'totalSumLabel',
		afterDatasetsDraw(chart, args, plugins) {
			const yHidden = [];

			for (let i = 0; i < chart.data.labels.length; i++) {
				const dataPointRow = chart.data.datasets.map((dataset, index) => {
					let yCoordinate;
					if (chart.getDatasetMeta(index).hidden == true) {
						yCoordinate = 1000;
					} else {
						yCoordinate = chart.getDatasetMeta(index).data[i].y;
					}
					return yCoordinate
				})
				yHidden.push(dataPointRow)
			}

			chart.data.datasets[0].data.forEach((dataPoint, index) => {
				const yPos = Math.min(...yHidden[index]);
				chart.ctx.save();
				chart.ctx.fillStyle = '#666';
				chart.ctx.textAlign = 'center';
				chart.ctx.fillText(chart.scales.y.getValueForPixel(yPos).toFixed(2), chart.getDatasetMeta(0).data[index].x, yPos - 10);
				chart.ctx.restore();
			})
		}
	}

    var ctx = document.getElementById("chart-area").getContext("2d");
    {{if eq .ChartType "Radar"}}
    var data = {
        labels: [
        {{range .Labels}}
          "{{lastaccount .}}",
        {{end}}
        ],
    {{else}}
    var data = {
        labels: [
        {{range .Labels}}
          "{{.}}",
        {{end}}
        ],
    {{end}}

    {{if eq .ChartType "Line" "Radar"}}
        datasets: [
    {{range .DataSets}}
    {
        label: {{.AccountName}},
        backgroundColor: "rgba({{.RGBColor}},0.2)",
        color: "rgba({{.RGBColor}},1)",
        borderColor: "rgba({{.RGBColor}},1)",
        fill: true,
        data: [
        {{range .Values}}
        {{.StringFixedBank}},
        {{end}}
        ]
    },
    {{end}}
        ]
    };
        {{if eq .ChartType "Line"}} var myPieChart = new Chart(ctx, {type: 'line', data: data, options: {interaction: {mode: 'index'}}});{{end}}
        {{if eq .ChartType "Radar"}} var myPieChart = new Chart(ctx, {type: 'radar', data: data});{{end}}
    {{end}}
    {{if eq .ChartType "Bar" "StackedBar"}}
        datasets: [
    {{range .DataSets}}
    {
        label: {{.AccountName}},
        backgroundColor: "rgba({{.RGBColor}},0.5)",
        borderColor: "rgba({{.RGBColor}},0.8)",
        color: "rgba({{.RGBColor}},1)",
        data: [
        {{range .Values}}
        {{.StringFixedBank}},
        {{end}}
        ]
    },
    {{end}}
        ]
    };
    {{if eq .ChartType "Bar"}} var myPieChart = new Chart(ctx, {type: 'bar', data: data, options: {interaction: {mode: 'index'}}});{{end}}
    {{if eq .ChartType "StackedBar"}} var myPieChart = new Chart(ctx,{type: 'bar', data: data, options: {interaction: {mode: 'index'}, scales: {x: {stacked: true}, y: {stacked: true}}}, plugins: [totalSumLabel]});{{end}}
    {{end}}
    });
    </script>

  </body>
</html>
