<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <title>Ledger - Portfolio</title>

	{{template "common-css"}}

  </head>

  <body>
	
	{{template "nav" .}}

   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-8">
        		<h1>Portfolio {{.PortfolioName}}<span id="info" class="d-block d-sm-none"> - Overall</span></h1>
			</div>
			<div class="col-4"><a class="btn btn-secondary d-block d-sm-none" href="#" onclick="toggleInfo();">Toggle</a></div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-12">
	
      <table id="listtable" class="table table-bordered table-hover paginated-table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="info-overall">Cost</th>
            <th class="info-overall">Market Value</th>
            <th class="info-overall">Weight</th>
            <th class="info-day d-none d-sm-table-cell">Price</th>
            <th class="info-day d-none d-sm-table-cell">Percent</th>
            <th class="info-day d-none d-sm-table-cell">Gain/Loss</th>
            <th class="d-none d-sm-table-cell">Percent</th>
            <th class="info-overall">Gain/Loss</th>
          </tr>
        </thead>
        <tbody>
          {{range .Stocks}}
          <tr {{if eq .Type "Total"}}class="bg-warning"{{end}}{{if eq .Type "Section Total"}}class="bg-info"{{end}}>
            <td>{{.Name}}</td>
            <td class="info-overall">{{printf "%.2f" .Cost}}</td>
            <td class="info-overall">{{printf "%.2f" .MarketValue}}</td>
            <td class="info-overall">{{printf "%.2f" .Weight}}</td>
            <td class="info-day d-none d-sm-table-cell">{{printf "%.2f" .Price}}</td>
            <td class="info-day d-none d-sm-table-cell"><p {{if gt .PriceChangePctDay 0.0}}class="text-success"{{end}}{{if lt .PriceChangePctDay 0.0}}class="text-danger"{{end}}>{{printf "%.2f" .PriceChangePctDay}}</p></td>
            <td class="info-day d-none d-sm-table-cell"><p {{if gt .GainLossDay 0.0}}class="text-success"{{end}}{{if lt .GainLossDay 0.0}}class="text-danger"{{end}}>{{printf "%.2f" .GainLossDay}}</p></td>
            <td class="d-none d-sm-table-cell"><p {{if gt .PriceChangePctOverall 0.0}}class="text-success"{{end}}{{if lt .PriceChangePctOverall 0.0}}class="text-danger"{{end}}>{{printf "%.2f" .PriceChangePctOverall}}</p></td>
            <td class="info-overall"><p {{if gt .GainLossOverall 0.0}}class="text-success"{{end}}{{if lt .GainLossOverall 0.0}}class="text-danger"{{end}}>{{printf "%.2f" .GainLossOverall}}</p></td>
          </tr>
          {{end}}
        </tbody>
      </table>
      </div>
      </div>
      </div>
   </div> <!-- /container -->


   {{template "common-scripts"}}
    <script>
    var overallOn = true;
    function toggleInfo() {
      if (overallOn) {
      $( ".info-overall" ).addClass("d-none")
      $( ".info-overall" ).addClass("d-sm-table-cell")
      $( ".info-day" ).removeClass("d-none")
      $( ".info-day" ).removeClass("d-sm-table-cell")
      $( "#info" ).text(' - Day');
      overallOn = false;
      } else {
      $( ".info-day" ).addClass("d-none")
      $( ".info-day" ).addClass("d-sm-table-cell")
      $( ".info-overall" ).removeClass("d-none")
      $( ".info-overall" ).removeClass("d-sm-table-cell")
      $( "#info" ).text(' - Overall');
      overallOn = true;
      }
    }
    </script>

  </body>
</html>
