<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <title>Ledger - General Ledger</title>

	{{template "common-css"}}

  </head>

  <body>
	
	{{template "nav" .}}

	<div class="container">
		<div class="content-header">
			<div class="row">
				<div class="col-md-10">
					<h1>Ledger</h1>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div class="page-content inset">
			<div class="row">
				<div class="col-md-12">

					<div id="tableprogress" class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
					</div>

					<div id="transactions-section" style="display: none;">
						<table id="listtable" class="table table-bordered table-hover paginated-table">
							<thead>
								<tr>
									<th>Date</th>
									<th class="d-none d-sm-block">Description (Payee) / Account</th>
									<th class="d-block d-sm-none">Description (Payee) / Account</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								{{range .Transactions}}
								<tr>
									<td>{{.Date.Format "2006-01-02"}}</td>
									<td class="d-none d-sm-block">{{.Payee}}</td>
									<td class="d-block d-sm-none">{{printf "%.16s" .Payee}}</td>
									<td></td>
								</tr>
								{{range .AccountChanges}}
								<tr>
									<td></td>
									<td class="d-none d-sm-block"><a href="/account/{{.Name}}">{{.Name}}</a></td>
									<td class="d-block d-sm-none"><a href="/account/{{.Name}}">{{abbrev .Name}}</a></td>
									<td align="right">{{.Balance.FloatString 2}}</td>
								</tr>
								{{end}}
								{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->

   {{template "common-scripts"}}

  </body>
</html>
