<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Ledger - Report - {{.ReportName}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.0/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/padding.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/custom/assets/js/html5shiv.js"></script>
      <script src="/custom/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      {{template "nav" .Reports}}
	
   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-xs-12">
                <h1>{{.ReportName}} : {{.RangeStart.Format "2006-01-02"}} - {{.RangeEnd.Format "2006-01-02"}}</h1>
			</div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-xs-12">
          <div id="canvas-holder" style="width:100%">
               <canvas id="chart-area" width="300" height="300" />
          </div>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <div id="chart-legend"></div>
      </div>
      </div>

      </div>
   </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/jquery.min.js"></script>
    <script src="/Chart.min.js"></script>
    <script src="/legend.js"></script>
    <script src="/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
	var ctx = document.getElementById("chart-area").getContext("2d");
	var data = [
    {{range .ChartAccounts}}
    {
        value: {{.Balance}},
        color: "{{.Color}}",
        highlight: "{{.Highlight}}",
        label: "{{.Name}}"
    },
    {{end}}
	];
	var myPieChart = new Chart(ctx).Pie(data,{responsive: true});
    legend(document.getElementById('chart-legend'), data);
    });
    </script>

  </body>
</html>
