<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Ledger - Add Transaction</title>

  {{template "common-css"}}

</head>

<body>

  {{template "nav" .}}

  <div class="container">
    <div class="content-header">
      <div class="row">
        <div class="col-10">
          <h1>Add Transaction</h1>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="page-content inset">

          <form id="formaddtrans" class="form-horizontal" action="/addtrans" method="POST">
            <div class="row mb-3">
              <div class="col-4">
                <input type="date" class="form-control" name="transactionDate">
              </div>
              <div class="col-8">
                <input type="text" class="form-control" name="transactionPayee" placeholder="Payee">
              </div>
            </div>
            <div class="row my-1">
              <div class="col-8">
                <select name="transactionAccount1" class="form-control">
                  <option value=""></option>
                  {{range .Accounts}}
                  <option value="{{.Name}}">{{abbrev .Name}}</option>
                  {{end}}
                </select>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" name="transactionAmount1" placeholder="Amount">
              </div>
            </div>
            <div class="row my-1">
              <div class="col-8">
                <select name="transactionAccount2" class="form-control">
                  <option value=""></option>
                  {{range .Accounts}}
                  <option value="{{.Name}}">{{abbrev .Name}}</option>
                  {{end}}
                </select>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" name="transactionAmount2" placeholder="Amount">
              </div>
            </div>
            <div class="row my-1">
              <div class="col-8">
                <select name="transactionAccount3" class="form-control">
                  <option value=""></option>
                  {{range .Accounts}}
                  <option value="{{.Name}}">{{abbrev .Name}}</option>
                  {{end}}
                </select>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" name="transactionAmount3" placeholder="Amount">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              <div id="formresultbox" class="col-8">
                <span id="formresult"></span>
              </div>
            </div>
          </form>

    </div>
  </div>
  <!-- /container -->


  {{template "common-scripts"}}
  <script>
  $('#formaddtrans').submit(function () {
	var jqxhr = $.post('/addtrans', $('#formaddtrans').serialize());
    jqxhr.always(function() {
        $('#formresultbox').removeClass("bg-success");
        $('#formresultbox').removeClass("bg-danger");
        if (jqxhr.status == 200) {
            $('#formresultbox').addClass("bg-success");
        } else {
            $('#formresultbox').addClass("bg-danger");
        }
        $('#formresult').html(jqxhr.responseText);
        setTimeout(clearformresult, 5000);
    });
    return false;
  });
  function clearformresult() {
    $('#formresultbox').removeClass("bg-success");
    $('#formresultbox').removeClass("bg-danger");
    $('#formresult').html("");
  }
  </script>

</body>

</html>
