<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <title>Ledger - General Ledger</title>

	{{template "common-css"}}
    <style type="text/css">
        .popover{
            max-width:600px;
        }
    </style>

  </head>

  <body>
	
	{{template "nav" .}}

   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-md-10">
        		<h1>Ledger</h1>
			</div>
			<div class="col-md-2"></div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-md-12">
	
      <table id="listtable" class="table table-bordered table-hover paginated-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description (Payee)</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {{range .Transactions}}
          <tr>
            <td>{{.Date.Format "2006-01-02"}}</td>
            <td class="d-none d-sm-block">{{.Payee}}</td>
            <td class="d-block d-sm-none">{{printf "%.16s" .Payee}}</td>
            <td>
            <button class="btn btn-secondary popover-dismiss"
                    data-html="true" data-placement="left"
                    data-toggle="popover" title='{{.Date.Format "2006-01-02"}} - {{.Payee}}'
                    data-content= '<table width="100%">
                            {{range .AccountChanges}}<tr><td width="70%"><a href="/account/{{.Name}}">{{.Name}}</a></td><td width="30%" align="right">{{.Balance.FloatString 2}}</td></tr>{{end}}
                            </table>'>
                    Detail</button>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      </div>
      </div>
      </div>
   </div> <!-- /container -->


   {{template "common-scripts"}}
    <script>
    $(document).ready(function() {
    $('.popover-dismiss').popover({
          trigger: 'click',
          animation: false
    });
    });
    </script>

  </body>
</html>
