<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
    <title>Ledger - Report - {{.ReportName}}</title>

	{{template "common-css"}}

  </head>

  <body>

      {{template "nav" .}}
	
   <div class="container">
      <div class="content-header">
        <div class="row">
			<div class="col-xs-12">
                <h1>{{.ReportName}} : {{.RangeStart.Format "2006-01-02"}} - {{.RangeEnd.Format "2006-01-02"}}</h1>
			</div>
		</div>
      </div>
      <div class="page-content inset">
      <div class="row">
      <div class="col-xs-12">
          <div id="canvas-holder" style="width:100%">
               <canvas id="chart-area" width="300" height="300" />
          </div>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
          <div id="chart-legend"></div>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-12">
		  {{template "payee-transaction-table" .}}
      </div>
      </div>

      </div>
   </div> <!-- /container -->


   {{template "common-scripts"}}
    <script>
    $(document).ready(function() {
	var ctx = document.getElementById("chart-area").getContext("2d");
	var data = {
        labels: [{{range .ChartAccounts}}"{{.Name}}",{{end}}
        ],
        datasets: [
    {
        label: "Dataset 1",
		data: [{{range .ChartAccounts}}{{.Balance.FloatString 2}},{{end}}],
		backgroundColor: [{{range .ChartAccounts}}"{{.Color}}",{{end}}],
    }]
	};
    {{if eq .ChartType "Pie"}} var myPieChart = new Chart(ctx,{type: 'pie', data: data});{{end}}
	{{if eq .ChartType "Polar"}} var myPieChart = new Chart(ctx,{type: 'polarArea', data: data});{{end}}
    {{if eq .ChartType "Doughnut"}} var myPieChart = new Chart(ctx,{type: 'doughnut', data: data});{{end}}
    });
    </script>

  </body>
</html>
